<header style="color:black" class="navbar navbar-expand-lg navbar-light bg-danger">
  
    <img  src="assets/bus2.png" width="50" height="40"/>
        <a class="navbar-brand" href="#">REDBUS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">BookingTickets <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CancelTickets</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Travels
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">APSRTC</a>
            <a class="dropdown-item" href="#">TSRTC</a>
            <a class="dropdown-item" href="#">GarudaTravels</a>
            <a class="dropdown-item" href="#">OrangeTravels</a>
            <a class="dropdown-item" href="#">DivakerTravels</a>
            <a class="dropdown-item" href="#">KaveriTravels</a>
            
          </div>
        </li> 
      </ul>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="SearchBuses" aria-label="Search">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
      </form>
      <form class="form-inline my-2 my-lg-0">
        <a  routerLink="/login" routerLinkActive="active" style="margin:10px;"class="btn btn-outline-light my-2 my-sm-2" type="submit">Login</a>
        <a routerLink="/signup" routerLinkActive="active"  style="margin:10px;"class="btn btn-outline-light my-2 my-sm-2" type="submit">SignUp</a>
      </form>
    </div>
  
  </header>
