<div class="col-md-6 user-container">
  <h2 class="text-center">Add User</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">User Name:</label>
      <input type="text" formControlName="username" placeholder="username" name="username" class="form-control" id="username">
      <div class="error" *ngIf="addForm.controls['username'].hasError('required') && addForm.controls['username'].touched">Username is required</div>
      <div class="error" *ngIf="addForm.controls['username'].hasError('minlength') && addForm.controls['username'].touched || addForm.controls['username'].hasError('maxlength') && addForm.controls['username'].touched">Username must be grater than 2 charectors and less than 10 charectors</div>
      </div>
  
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" formControlName="password" placeholder="password" name="password" class="form-control" id="password">
      <div class="error" *ngIf="addForm.controls['password'].hasError('required') && addForm.controls['password'].touched">Password is required</div>
      <div class="error" *ngIf="addForm.controls['password'].hasError('minlength') && addForm.controls['password'].touched || addForm.controls['password'].hasError('maxlength') && addForm.controls['password'].touched">password must be grater than 2 charectors and less than 8 charectors</div>
    </div>

    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input formControlName="firstName" placeholder="First Name" name="firstName" class="form-control" id="firstName">
      <div class="error" *ngIf="addForm.controls['firstName'].hasError('required') && addForm.controls['firstName'].touched">firstName is required</div>
      <div class="error" *ngIf="addForm.controls['firstName'].hasError('minlength') && addForm.controls['firstName'].touched || addForm.controls['firstName'].hasError('maxlength') && addForm.controls['firstName'].touched">firstName must be grater than 2 charectors and less than 10 charectors</div>
    </div>

    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input formControlName="lastName" placeholder="Last Name" name="lastName" class="form-control" id="lastName">
      <div class="error" *ngIf="addForm.controls['lastName'].hasError('required') && addForm.controls['lastName'].touched">lastName is required</div>
      <div class="error" *ngIf="addForm.controls['lastName'].hasError('minlength') && addForm.controls['lastName'].touched || addForm.controls['lastName'].hasError('maxlength') && addForm.controls['lastName'].touched">lastName must be grater than 2 charectors and less than 10 charectors</div>
    </div>

    <div class="form-group">
      <label for="age">Age:</label>
      <input type="number" formControlName="age" placeholder="age" name="age" class="form-control" id="age">
      <div class="error" *ngIf="addForm.controls['age'].hasError('required') && addForm.controls['age'].touched">age is required</div>    
    </div>

    <div class="form-group">
      <label for="salary">Salary:</label>
      <input type="number" formControlName="salary" placeholder="salary" name="salary" class="form-control" id="salary">
      <div class="error" *ngIf="addForm.controls['salary'].hasError('required') && addForm.controls['salary'].touched">salary is required</div>    
    </div>

    <button class="btn btn-success">Update</button>
  </form>
</div>
