<!-- Footer -->
<footer class="page-footer font-small navbar-light bg-danger fixed-bottom ">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container text-center text-md-left">
    <div class="row text-center text-md-left mt-2 ">
    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-2">
      <img  src="assets/bus2.png" width="50" height="40"/>
            <h6 >redBus is the worls's largest online busticket booking service trusted by over 20m customers globally.
              redBus tickets booking through websiteslike iOS and android apps.
            </h6>
            <h6>
                    © 2020  All Copyrights reserved
              
            </h6>
          </div>
          
     <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-2">
            <h6 class="text-uppercase mb-1 font-weight-bold">About redBus</h6>
            <p>
              <a href="#!">About Us</a>
            </p>
            <p>
              <a href="#!">Contact Us</a>
            </p>
            <p>
              <a href="#!">Offers</a>
            </p>
            <p>
              <a href="#!">Insurance</a>
            </p>
              </div>
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-2">
            <h6 class="text-uppercase mb-1 font-weight-bold">Info</h6>
            <p>
              <a href="#!">T & c</a>
            </p>
            <p>
              <a href="#!">Privacy Policy</a>
            </p>
            <p>
              <a href="#!">Your Account</a>
            </p>
             <p>
              <a href="#!">Help</a>
            </p>
          </div>
         
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-2">
            <h6 class="text-uppercase mb-1 font-weight-bold">Contact</h6>
            <p>
              <i class="fas fa-home mr-1"></i> Ichapuram,AP</p>
            <p>
              <i class="fas fa-envelope mr-1"></i> redbus@gmail.com</p>
            <p>
              <i class="fas fa-phone mr-1"></i> 7288000386</p>  
          </div>
        </div>           
        <hr>
    <ul class="list-unstyled list-inline text-center">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
      <li class="list-inline-item">
        <a href="https://www.facebook.com/" class="btn-floating btn-gplus mx-2">
          <i class="fab fa-facebook-f"style="font-size:24px"></i></a>
      </li>
      <li class="list-inline-item">
        <a href="https://twitter.com/" class="btn-floating btn-tw mx-2">
          <i class="fab fa-twitter"style="font-size:24px"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://google.com" class="btn-floating btn-gplus mx-2">
          <i class="fab fa-google-plus-g"style="font-size:24px"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://youtube.com" class="btn-floating btn-lg btn-yt mx-1">
          <i class="fab fa-youtube"style="font-size:24px"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://gmail.com"class="btn-floating btn-lg btn-email mx-1">
          <i class="fas fa-envelope" style="font-size:24px"> </i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center ">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> redbus.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->