<div class="col-md-6 signup-container">
    <h1 class="text-center" style="color:brown">SignUp</h1>
    <form [formGroup]="signForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="userName">User Name:</label>
        <input type="text" formControlName="userName" placeholder="username" name="userName" class="form-control" id="userName">
        <div class="error" *ngIf="signForm.controls['userName'].hasError('required') && signForm.controls['userName'].touched">Username is required</div>
        <div class="error" *ngIf="signForm.controls['userName'].hasError('minlength') && signForm.controls['userName'].touched || signForm.controls['userName'].hasError('maxlength') && signForm.controls['userName'].touched">Username must be grater than 2 charectors and less than 10 charectors</div>
      </div>
      <div class="form-group">
        <label for="dob">DateOfBirth:</label>
        <input type="date" formControlName="dob" placeholder="DateOfBirth" name="dob" class="form-control" id="dob">
      </div>
      <div class="form-group">
        <label for="gender"style="margin:10px;">Gender:</label>
        <div>
          <input id="male" type="radio" value="male" name="gender" formControlName="gender">
          <label class="custom-control-label"style="margin:10px;" for="male">Male</label>
      
          <input id="female" type="radio" value="female" name="gender" formControlName="gender">
          <label class="custom-control-label" style="margin:10px;"for="female">Female</label>
        </div>
    </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" formControlName="email" placeholder="email" name="email" class="form-control" id="email">
        <div class="error" *ngIf="signForm.controls['email'].hasError('required') && signForm.controls['email'].touched">email is required</div>    
      </div>
      <div class="form-group">
        <label for="phoneNumber">PhoneNumber:</label>
        <input type="number" formControlName="phoneNumber" placeholder="phonenumber" name="phoneNumber" class="form-control" id="phoneNumber">
        <div class="error" *ngIf="signForm.controls['phoneNumber'].hasError('required') && signForm.controls['phoneNumber'].touched">PhoneNumber is required</div>
        </div>
        <div class="form-group">
          <label for="userStatus">Status:</label>
          <input type="text" formControlName="userStatus" placeholder="UserStatus" name="userStatus" class="form-control" id="userStatus">
          </div>
      
      <button class="btn btn-success">SignUp</button>
    </form>
  </div>
  
