@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";


.user-container {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.employee-container {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.student-container {
  display: flex;
  flex-direction: column;
  margin: auto;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
